{% extends "MineRobotGameBundle::layout.html.twig" %}

{% block title "MineRobot - View - Select a game" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ game }}</h1>
{% endblock %}
