{% extends "MineRobotGameBundle::layout.html.twig" %}

{% block title "MineRobot - View - " ~ game.name %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ game.name }}</h1>
    <input type="checkbox" value="1" name="run" id="run"><label for="run">Run</label>

    <div id="gridArea">
        {% include '@MineRobotGame/View/rungame.html.twig' %}
    </div>

    <script type="text/javascript">
        function refreshGrid(){
            if(jQuery('#run:checked').length){
                var from = (new Date()).getTime();
                jQuery.get('{{ path("_view_run", {'gameFileName': filename}) }}', function( data ) {
                    $( "#gridArea" ).html( data );
                    var to = (new Date()).getTime();
                    var delay = 500;
                    if(to-from>delay){
                        refreshGrid();
                    }else{
                        window.setTimeout(refreshGrid,delay-to+from);
                    }
                });
            }
        }

        jQuery('#run').click(refreshGrid);
    </script>
{% endblock %}
