{% extends "MineRobotGameBundle::layout.html.twig" %}

{% block title "MineRobot - View - " ~ game.name %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ game.name }}
        <input type="checkbox" value="1" name="run" id="run" style="display:none">
        <label id="run_label" class="pointer icon" for="run">+</label>
        <span class="pointer icon" id="next">}</span>
    </h1>
    
    <div>
        <div id="gridArea" class="visu-grid">
            {% include '@MineRobotGame/View/rungame.html.twig' %}
        </div>
        
        <div id="robots" class="visu-robots">
            <ul id="robot-list"></ul>
        
        
        
              lsfhksh fhkqshfkh
        </div>
    </div>
    
    
    
    <script type="text/javascript">
        function refreshGrid() {

            $.ajax({
                url: '{{ path("_view_run", {'gameFileName': filename}) }}.json',
                data: '',
                dataType: 'json',
                success: function (data) {

                    $.each(data.del, function (hash, data) {
                        $('#' + hash).remove();
                    });
                    $.each(data.add, function (hash, data) {
                        $('#' + data.x + '-' + data.y).append('<img src="{{ asset('minerobot/images/') }}' + data.img + '" id="' + hash + '" />');
                    });
                    $.each(data.move, function (hash, data) {
                        $('#' + hash).appendTo($('#' + data.x + '-' + data.y));
                    });
                    $.each(data.rotate, function (hash, data) {
                        $('#' + hash).attr('src', '{{ asset('minerobot/images/') }}' + data.img);
                    });
console.log("helo");
                    $.each(data.robots, function (hash, data) {
                    console.log(hash);
                    console.log(data);
                    
                        //$('#robots').html(data);
                    });
                    

                    if (jQuery('#run:checked').length) {

                        setTimeout(function () {
                            refreshGrid();
                        }, 500);

                    }
                }
            });


        }

        jQuery('#run').click(function () {
            if (jQuery('#run').prop("checked")) {
                jQuery('#run_label').html('P');
                refreshGrid();
            } else {
                jQuery('#run_label').html('+');
            }
        });

        jQuery('#next').click(function () {
            if (!jQuery('#run').prop("checked")) {
                refreshGrid();
            }
        });
    </script>
    
     <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>
  
{% endblock %}
